* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


html {
    font-family: sans-serif;
}

body{
    background-color: #eee;
}

header{
    background-color: #141E61;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}


header h1{
    color : #eee;
    font-family:  cursive;
    font-weight: 200;
}

.recipe{
    float: left;
    padding:  0 20px;
    background-color: #79DAE8;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}

.recipe img{
    width: 300px;
    height:200px;
}

.recipe h2{

    color: #141E61;
    padding: 20px;
    margin: 0;
    padding: 20px 0;
}

.recipe button{
    display: block;
    
    appearance: none;
    outline: 0;
    background-color: #141E61;
    border: 0;
    padding: 10px 15px;
    color: #eee;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    
}


.add-recipe{
    float: left;
    padding:  0 20px;
    background-color: #79DAE8;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    border: 0;
    border-radius: 25px;
}

.container {
    color: #141E61;
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
    width: 40%;
    background-color: #79DAE8;
  }

.container input {
    
    background-color: #79DAE8;
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: 300;
  }

  .container textarea {
    

    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 12px;
    color: black;
    font-weight: 300;
  }

  .container button    {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #141E61;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }

  .ingredients p{
    display: inline-block;
    padding: 10px;

  }
  
.ingredients button{

    
    width: 12px;
    font-size: 10px;
    padding: 0;
    display: inline-block;
}

.edit-recipe{
    width: 80%;
    margin: 10% auto;
}

.edit-recipe h2{
    font-size: 3rem;

    padding: 20px;
}

.edit-recipe p{
   

    padding: 20px;
}

.edit-recipe img{
   
    width: 600px;
    height:400px;
    padding: 20px;
}

.edit-recipe button{
    
    display: block;
    margin: 20px;
    appearance: none;
    outline: 0;
    background-color: #141E61;
    border: 0;
    padding: 10px 15px;
    color: #eee;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
}

.edit-recipe input{
    
  
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 20px;
    display: block;
    text-align: left;
    font-size: 15px;
    color: black;
    font-weight: 300;
}

.edit-recipe textarea{
    
  
    width: 90%;
    height: 400px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 20px;
    display: block;
    text-align: left;
    font-size: 14px;
    color: black;
    font-weight: 300;
}

